@using RoyalState.Core.Application.ViewModels.SaleTypes;
@model SaveSaleTypeViewModel;

@{
    ViewData["Title"] = "Save SaleType";
    bool editMode = Model.Id == 0 ? false : true;
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
}

<div class="container-fluid mt-3">

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">

                    <form method="post" asp-controller="SaleType" asp-action="@(editMode ? "Edit" : "Create")">

                        <div class="mb-3 fw-normal text-center">
                            <h1 class="h3">@ViewData["Title"]</h1>
                        </div>

                        <input type="hidden" asp-for="Id" value="@Model.Id" value="@Model.Id" />

                        <div class="mb-4">

                            <div class="mb-3">
                                <label asp-for="Name" class="form-label">Name:</label>
                                <input asp-for="Name" class="form-control" placeholder="Name" maxlength="50" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Description" class="form-label">Description:</label>
                                <textarea asp-for="Description" class="form-control" rows="2" maxlength="150" placeholder="Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <a class="btn btn-dark col-12 " asp-controller="SaleType" asp-action="Index">Back</a>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-success col-12">Save</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
