@using RoyalState.Core.Application.ViewModels.Agent;

@model IEnumerable<AgentViewModel>

@{
    ViewData["Title"] = "Agents";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
    bool? searchResult = ViewBag.isEmpty;
}

@* Our Agents *@
<div class="site-section bg-light mt-4 mb-4">
    <div class="container" data-aos="fade">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7">
                <div class="site-section-title text-center">
                    <h2>Our Agents</h2>
                    <p>Discover our team of highly skilled and passionate real estate professionals, committed to guiding you through every step of your property journey. Whether you're buying, selling, or investing, our agents are here to provide expert advice and personalized service tailored to your unique needs.</p>
                </div>
            </div>
        </div>

        <div>
            <nav class="navbar navbar-light bg-light mb-4 mt-4">
                <div class="container-fluid">
                    <form method="post" asp-controller="Agent" asp-action="SearchAgent" class="d-flex">
                        <input name="agentName" class="form-control me-2" type="search" placeholder="ej. Samil Quezada" aria-label="Search" required>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        @if (Model == null || Model.Count() == 0)
        {
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="alert alert-info text-center" role="alert">
                        @if(searchResult == true)
                        {
                            <p>No results found.</p>
                            <a asp-controller="Agent" asp-action="AllAgents" class="btn btn-primary" type="submit">Go back</a>  
                        }else
                        {
                            <p>No agents available at the moment.</p>
                        }                       
                    </div>                   
                </div>
            </div>
        }
        else if (Model.Count() > 0 && Model != null)
        {
            <div class="row">
                @foreach (var agent in Model)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card border-0 shadow-sm">
                            <div class="circle-image">
                                <img src="@agent.ImageUrl" alt="Image" class="card-img-top rounded-circle">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-1">@agent.FirstName @agent.LastName</h5>
                                <p class="card-text text-muted mb-2">Real Estate Agent</p>
                                <a href="#" class="btn btn-primary">View Profile</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }       
    </div>
</div>

<style>
    .circle-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 20px;
    }

        .circle-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>