@using RoyalState.Core.Application.ViewModels.Property;
@model List<PropertyViewModel>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
}

<div class="container mt-3">

    <a class="btn" asp-controller="Agent" asp-action="NewProperty">Add New Property</a>

</div>
